/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  margin: 0;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brand button {
  color: white;
  background-color: #1c5380;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: inset 2px white;
  margin-left: 50px;
  font-size: 1.2em;
  font-weight: bold;
}

.brand button span {
  margin-left: 10px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper > img {
  height: 650px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.text {
  background: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 50px;
  width: 500px;
  font-size: 1.2em;
}

.text h1 {
  margin-top: 55px;
  font-size: 1.8em;
  width: 70%;
  color: #06365f;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-transform: uppercase;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 750px;
  color: lightgray;
}

.links a {
  color: #1c5380;
  text-decoration: none;
}

.blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #1c5380; 
  z-index: -1;
}

#download > img {
  margin-right: 20px;
}